<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lolodev.permissionswrapper">

    <application>

        <activity
            android:name="lolodev.permissionswrapper.RequestPermissionsScreen"
            android:theme="@style/PermissionRequestActv" />

    </application>

</manifest>
